*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
}
.body_container {
    font-family: serif, Georgia;
}
.header_container{
    background-color: #dffc00;
    color: #939344;
    padding: 10px;
    font-size: 30px;

}
.content_container{
    font-size: 20px;
}
.photo_image {
    width: 600px;
}
